<!-- @header -->
<header class="header">
    <button class="profile" type="button" ng-click="Notification.back()">
        <img src="assets/img/svg/arrow_back.svg" alt="">
    </button>
</header>
    
<!-- @content -->
<div class="content-wrapper">

    <div class="card" ng-click="Notification.open(message)" ng-class="{'old': message.new == false }" ng-repeat="message in arrMessages">
        <div class="header">
            <div class="news" ng-show="message.new"></div>
            <p>{{ message.date }}</p>
        </div>
        <div class="body">
            <div class="content" ng-bind-html="message.content" ng-class="{'open': message.collapse}">
            </div>
        </div>
        <div class="footer" ng-show="message.collapse">
            <button class="btn-action" type="button">Got it</button>
        </div>
    </div>
</div>